# Dependency directory
node_modules/

# Compiled output
dist/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variable files
.env
.env.test
.env.production

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SQLite database files
*.sqlite
*.sqlite-journal

# IDEs and editors
.idea/
.vscode/
*.swp
*~

# macOS
.DS_Store

# Ignore database file
tmp/database.sqlite
tmp

# Other
*.log
.push_details
